<a href="https://colab.research.google.com/github/olliemamuda/Individual_Short_Project/blob/main/Proto_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Converting from old prototype storage to new prototype storage

In [ ]:
import pandas as pd

df = pd.read_csv("protos/randProtos.csv", sep="|")
df.head()

   number                                              proto
0       0  [0.0, 0.0, 2.0, 12.0, 15.0, 3.0, 0.0, 0.0, 0.0...
1       1  [0.0, 0.0, 0.0, 0.0, 11.0, 12.0, 0.0, 0.0, 0.0...
2       2  [0.0, 0.0, 3.0, 12.0, 16.0, 16.0, 3.0, 0.0, 0....
3       3  [0.0, 0.0, 10.0, 16.0, 15.0, 7.0, 0.0, 0.0, 0....
4       4  [0.0, 0.0, 3.0, 16.0, 0.0, 0.0, 0.0, 0.0, 0.0,...

In [ ]:
df.insert(0, "repetition", [int(i/10) for i in range(0, len(df))], True)
df

    repetition  number                                              proto
0            0       0  [0.0, 0.0, 2.0, 12.0, 15.0, 3.0, 0.0, 0.0, 0.0...
1            0       1  [0.0, 0.0, 0.0, 0.0, 11.0, 12.0, 0.0, 0.0, 0.0...
2            0       2  [0.0, 0.0, 3.0, 12.0, 16.0, 16.0, 3.0, 0.0, 0....
3            0       3  [0.0, 0.0, 10.0, 16.0, 15.0, 7.0, 0.0, 0.0, 0....
4            0       4  [0.0, 0.0, 3.0, 16.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
..         ...     ...                                                ...
95           9       5  [0.0, 4.0, 15.0, 16.0, 16.0, 16.0, 4.0, 0.0, 0...
96           9       6  [0.0, 0.0, 0.0, 12.0, 15.0, 4.0, 0.0, 0.0, 0.0...
97           9       7  [0.0, 0.0, 1.0, 12.0, 16.0, 16.0, 12.0, 0.0, 0...
98           9       8  [0.0, 0.0, 3.0, 15.0, 13.0, 2.0, 0.0, 0.0, 0.0...
99           9       9  [0.0, 0.0, 6.0, 12.0, 11.0, 0.0, 0.0, 0.0, 0.0...

[100 rows x 3 columns]

In [ ]:
df.to_csv("protos/randProtos2.csv", sep="|", index=False)

### If we want to overwrite 'repetitions'

In [ ]:
df.head()

   repetition  number                                          prototype
0           0       0  [0.0, 3.1822489494355954, 14.780907397382155, ...
1           1       1  [0.0, 7.439955086935594, 0.995799578540522, 1....
2           2       2  [0.0, 6.722750142671064, 15.862029107300845, 5...
3           3       3  [0.0, 7.8816351561567135, 5.711827829307781, 1...
4           4       4  [0.0, 0.37838145439310544, 10.124536780007073,...

In [ ]:
df.pop("repetition")
df.head()

   number                                          prototype
0       0  [0.0, 3.1822489494355954, 14.780907397382155, ...
1       1  [0.0, 7.439955086935594, 0.995799578540522, 1....
2       2  [0.0, 6.722750142671064, 15.862029107300845, 5...
3       3  [0.0, 7.8816351561567135, 5.711827829307781, 1...
4       4  [0.0, 0.37838145439310544, 10.124536780007073,...

# Merging a Part 1 and Part 2

In [ ]:
import pandas as pd

df1 = pd.read_csv("protos/shared denoised (2 protos per class)/gaProtos_part1.csv", sep="|")
df2 = pd.read_csv("protos/shared denoised (2 protos per class)/gaProtos_part2.csv", sep="|")
df2.head()

   repetition  number                                          prototype
0           5       0  [0.0, 0.3122343085147712, 1.1351583866260775, ...
1           5       0  [0.0, 0.3122343085147712, 1.1351583866260775, ...
2           5       1  [0.0, 0.030749334561466668, 11.498556283820394...
3           5       1  [0.0, 5.6246091147170425, 6.75799610079493, 2....
4           5       2  [0.0, 1.511777533770661, 15.077824263751666, 1...

In [ ]:
df = pd.concat((df1, df2), ignore_index=True)
df

     repetition  number                                          prototype
0             0       0  [0.0, 0.10645836093833427, 2.32716003405311, 2...
1             0       0  [0.0, 0.10645836093833427, 2.32716003405311, 1...
2             0       1  [0.0, 2.2675546464308205, 10.170755576234235, ...
3             0       1  [0.0, 2.2675546464308205, 10.170755576234235, ...
4             0       2  [0.0, 0.27963705382425363, 12.454381652011875,...
..          ...     ...                                                ...
195           9       7  [0.0, 6.585390405264068, 0.8835060397970231, 0...
196           9       8  [0.0, 0.012817341137780325, 14.972287059787098...
197           9       8  [0.0, 0.012817341137780325, 14.972287059787098...
198           9       9  [0.0, 0.31074751085704566, 14.610824009345468,...
199           9       9  [0.0, 0.07300717672789325, 13.03065442744279, ...

[200 rows x 3 columns]

In [ ]:
df.to_csv("protos/shared denoised (2 protos per class)/gaProtos.csv", sep="|", index=False)